name: AccuKnox Container Scan

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  accuknox-cicd:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build docker image
        run: |
          docker buildx build -t test-image:latest .

      - name: Run AccuKnox Container Scan
        uses: accuknox/container-scan-action@v1.0.1
        with:
          accuknox_token: ${{ secrets.ACCUKNOX_TOKEN }}
          accuknox_endpoint: "cspm.demo.accuknox.com"
          accuknox_label: "ebpfContainerScan"
          image_name: test-image:latest
